<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

    <title>Profile</title>
</head>

<body>

    <section class="header">
        <nav>
            <a href="index.html"><img src="images/logo.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href=""> HOME </a></li>
                    <li><a href=""> CALENDAR </a></li>
                    <li><a href=""> MANAGE COURSES </a></li>
                    <li><a href=""> MANAGE PROFESSORS </a></li>

                </ul>
            </div>
        </nav>


        <div class="container-fluid_profile">
            <div class="main">
                <div class="row" style="margin-left: 100px;">
                    <div class="col-md-4 mt-1">
                        <div class="card text-center sidebar" style="height: 356px;">
                            <div class="card-body">
                                <img src="images/icon.png" class="rounded-circle">
                                <div class="mt-3">
                                    <h3> Nick Rosasco </h3>

                                    <a href="">Signout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 mt-1">
                        <div class="card mb-3 content">
                            <h1 class="m-3 pt-3">About</h1>
                            <div class="card-body">
                                <div class="row">
                                    <!-- Making Rows on the Profile Card-->
                                    <div class="col-md-3">
                                        <h5>Full Name</h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                        Nick Rosasco
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5>Email</h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                        nick.rosasco@valpo.edu
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5>Address</h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                        Bikini Bottom
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5>Phone</h5>
                                    </div>
                                    <div class="col-md-9 text-secondary">
                                        123-456-7891
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Profile Row Card-->
                        <div class="card -mb-3 content">
                            <h1 class="m-3">Availability</h1>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h5>Comments: </h5>
                                    </div>
                                    <div class="col-md-9" class="input-box">
                                        <input type="text" placeholder="What is your Availability?" style="height:100px; width: 500px;">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

    </section>
    <script src=""></script>
</body>

</html>